*{
    box-sizing: border-box;
    padding : 50px 0px; 
    background-color: brown;
  }
.Heading{
    border: 1px solid black;
    color:gold;
    text-align: center;
    padding : 50px 0px;
    background-color: brown;
    margin: 0 -10;
}
.Watching{
    border: 1px solid black;
    color:gold;
    text-align: center;
    background-color: brown;
    margin: 0 -10;
}

.Instructions{
    color:black;
    border: 1px solid black;
    text-align: center;
    background-color: brown;
    padding : 50px 0px;
    

}