<h1>{{name}}</h1>
<section>
    <h1 class = "header">Vintage Movie Library</h1>
    <table>
    <div>   
    <tr>
        <th>Title</th>
        <th>Number</th>
        <th>Cast</th>
        <th>Release_Date</th>
        <th>Director</th>
    </tr>
     
    <tr *ngFor="let movie of vintageMovies; let i= index;let o=odd; let e=even; "[ngClass]="{odd:o, even:e}">
        <td>{{i}}</td>
        <button (click)="displayMovie(i)">{{movie.title}}</button>
        <td>{{movie.Cast}}</td>
        <td>{{movie.Release_Date}}</td>
        <td>{{movie.Director}}</td>
    </tr>
    <div *ngIf="vintageMovies[0].display == true">
        <div><img src="assets/images/Casablanca.jfif"> </div> 
    </div>
    <div *ngIf="vintageMovies[1].display == true">
        <img src="assets/images/The_Man_Who_Knew_Too_Much.jpg">
    </div>
    <div *ngIf="vintageMovies[2].display == true">
        <img src="assets/images/Frankenstein.jpg">
    </div>
        
    <div *ngIf="vintageMovies[3].display == true">
            <img src="assets/images/Psycho.jpg">
    </div>
        <div *ngIf="vintageMovies[4].display == true">
            <img src="assets/images/All_Quiet_on_the_Western_Front.jpg"></div>
        <div *ngIf="vintageMovies[5].display == true">
            <img src="assets/images/To_Kill_a_Mockingbird.jpg">
        </div>
        <div *ngIf="vintageMovies[6].display == true">
            <img src="assets/images/Twelve_O'Clock_High.jpg">
        </div>
        <div *ngIf="vintageMovies[7].display == true">
            <img src="assets/images/The_Day_the_Earth_Stood_Still.jpeg">
        </div>
   
    </div>
    </table>
    </section>
    
   <!---- <tr *ngFor="let movie of movie; let i= index;let f=first; let l=last; "[ngClass]="{first:f, last:l}">
        <td>{{i}}</td>
        <td>{{movie.title}}</td>
        <td>{{movie.Cast}}</td>
        <td>{{movie.Release_Date}}</td>
        <td>{{movie.Director}}</td>
    </tr>
    //not used didn't like the aesthetics, wanted to show I was able.
    -->
    