.movie{
    width:90%;
    margin:25px auto;
}
.header{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    border-radius: 15px 30px 30px 15px;
    color: purple
}

table, th, td{
    border: 1px solid black
}
.first{
    color: green;
}
.last{
    color: blue;
}
.odd{
    background-color: lightseagreen;
}
.even{
    background-color: lightcyan; 
}