.Heading{
    font-family: Arial, Helvetica, sans-serif;
    color: purple
}
.subheading{
    font-family: Arial, Helvetica, sans-serif;
    color: purple
}
.button{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: darkblue
}